body {
  display: grid;

  /* display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center; */
  background-color: pink;
}
h2 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.8rem;
  font-size: 1.4;
  background-color: whitesmoke;
  color: black;
  padding: 0.2rem;
}
.time-container {
  text-align: center;
  margin: 0px auto;
}
.timeDisplay {
  text-align: center;
  font-size: 1.8rem;
  border: 0.3rem solid black;
  margin: 0px auto;
  padding: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  min-width: 11rem;
}
